<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit/Create Book</title>
</head>
<body>
<h1 th:text="${book.id == null} ? 'Create Book' : 'Edit Book'">Edit Book</h1>
<form th:action="${book.id == null} ? @{/create_book} : @{/update_book}" th:object="${book}" method="post">

  <input type="hidden" id="id" name="id" th:value="*{id}" />

  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:value="*{title}" required>
  </div>
  <div>
    <label for="author">Author:</label>
    <select id="author" name="authorId">
      <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.fullName}"
              th:selected="${book.authorId != null && author.id.equals(book.authorId)}">
      </option>
    </select>
  </div>
  <div>
    <label for="genres">Genres:</label>
    <select id="genres" name="genreIds" multiple="true">
      <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"
              th:selected="${book.genreIds != null and #arrays.contains(book.genreIds, genre.id)}">
      </option>
    </select>
  </div>
  <div>
    <button type="submit">Save</button>
  </div>
</form>
<a href="/">Cancel</a>
</body>
</html>
