<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Comments for Book</title>
</head>
<body>
<h1>Comments for Book: <span th:text="${book.title}"></span></h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Comment</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="comment : ${comments}">
    <td th:text="${comment.id}">1</td>
    <td th:text="${comment.text}">Text</td>
  </tr>
  </tbody>
</table>
<a href="/">Back to Books</a>
</body>
</html>
