<div class="content">
  <mat-form-field>
    <mat-label>Book ID</mat-label>
    <input matInput type="text" readonly="true" [ngModel]="bookCreate.id">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput type="text" [ngModel]="bookCreate.title">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Author</mat-label>
    <mat-select [ngModel]="bookCreate.author">
      <mat-option *ngFor="let author of authors" [value]="author">{{author.fullName}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Genre</mat-label>
    <mat-select [ngModel]="bookCreate.genres" multiple>
      <mat-option *ngFor="let genre of genres" [value]="genre">{{genre.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="horizontal-content">
  <button class="button" mat-raised-button color="primary" (click)="saveBook()">Save</button>
  <button class="button" mat-raised-button (click)="goToBookList()">Back to book list</button>
</div>
