spring:
  messages:
    encoding: UTF-8

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:4432/maindb
    username: postgres
    password: postgres

  sql:
    init:
      mode: always

  jpa:
    open-in-view: false
    generate-ddl: false
    hibernate:
      ddl-auto: none

    show-sql: true

logging:
  level:
    ROOT: ERROR
